{% extends 'base.html' %}

{% from 'common.html' import list_users %}

{% block title %}Stackquery - Reports{% endblock title%}

{% block java_script %}
<script type="text/javascript">
    function loadComboBox(select, url, data, json_key, json_value) {
      $.ajax({
         type: "GET",
         url: url,
         data: data,
         dataType: "json",
         success: function(json){
            var options = "";
            $.each(json, function(key, value){
                console.log(value['id']);
                $(select).append($("<option>", {
                    value: value[json_value].toLowerCase(),
                    text: value[json_value]
                }));
            });
         }
      });
   }

$(document).ready(function(){
    $("#release").load(loadComboBox("#release", "{{ url_for('rest_api.get_releases') }}", {}, 'id', 'name'));
    $("#team").load(loadComboBox("#team", "{{ url_for('rest_api.get_teams') }}", {}, 'name', 'name'))
});
</script>

{% endblock java_script %}

{% block main %}
<div class="well">
    <form method="POST" class="form-inline">
        <label for="release">Release:</label>
        <select name="release" id="release">
        </select>
        <label for="project_type">Project type:</label>
        <select name="project_type" id="project_type">
            <option value="all">All</option>
            <option value="openstack">Openstack</option>
            <option value="stackforge">Stackforge</option>
        </select>
        <label for="project_type">Type:</label>
        <select name="project_type" id="project_type">
            <option value="metric">Metrics</option>
            <option value="group">Group Summary</option>
        </select>
        <label for="team">Team:</label>
        <select name="team" id="team">
        </select>
        <button type="submit" class="btn btn-primary">Go</button>
    </form>
</div>
{% if users %}
<div>
{{ list_users(users) }}
</div>
{% endif %}
{% endblock main %}