{% extends 'base.html' %}

{% from 'common.html' import detail_user %}

{% block title %}Stackquery - List users{% endblock title%}

{% block java_script %}

{% endblock java_script %}

{% block main %}
<form method="POST">
	<div class="row-fluid">
		<div class="col-lg-3">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Add new user" name="user_name" id="user_name">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">Add</button>
				</span>
			</div>
		</div>
	</div>
</form>
{% if users %}
{% for user in users %}
    <div class="span11">{{ detail_user(user) }}</div>
{% endfor %}
{% endif %}
{% endblock main %}